
/*
    <resources>
      <color name="primary">#2196F3</color>
      <color name="primary_dark">#1976D2</color>
      <color name="primary_light">#BBDEFB</color>
      <color name="accent">#009688</color>
      <color name="primary_text">#212121</color>
      <color name="secondary_text">#757575</color>
      <color name="icons">#FFFFFF</color>
      <color name="divider">#BDBDBD</color>
    </resources>

*/

body{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 55px;
}

.post{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #BDBDBD;
}

.degree{
  font-family: Helvetica, sans-serif;
  font-style: italic;
}

li{
  list-style-type: none;
}

.post .post-title a{
  color: #333;
}

.post .thumb{
  margin-right: 10px;
  width: 40%;
}

.post .thumb img{
  width: 100%;
}

.post .botones{
  width: 100%;
}

/* Media querie */
@media screen and (max-width: 768px){
    .post .thumb {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0px;
    }
    img{
      max-height: 80%;
    }
}
.jumbotron-presence{
    background: #2196F3;
}

.main{
   margin-top: 20px;
   margin-bottom: 20px;
}

.franja{
  display: block;
  height: 1em;
  width: 100%;
  background: #1976D2;
}

.jumbotron-presence h1{
    text-align: center;
    color: #212121;
}

.jumbotron-presence p{
    text-align: justify;
}

.footer{
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
    display: block;
    background: inherit;
    color: #757575;
    margin-top: 55px;
}

.social:hover {
     transform: scale(1.1);
 }
 .social {
     transform: scale(0.8);
 }

/*
    Multicoloured Hover Variations
*/
 
 .social-fb:hover {
     color: #3B5998;
 }
 .social-tw:hover {
     color: #4099FF;
 }
 .social-gp:hover {
     color: #d34836;
 }
 .social-em:hover {
     color: #f39c12;
 }

 @media (min-width: @screen-sm-min) { 

    .container{
      padding: 5% 5% 5% 5%;
    }

  }



